@page "/game/{GameEngineId}"
@inherits CircuitHubComponentBase
@inject ImmutableDictionary<string, IGameEngine> GameEngines

<h1>@GameEngine.Title</h1>

<MatchingComponentFor TScope="GameRulesBase" Source="@GameEngine" SourceParameterName="GameEngine" />

<AuthorizeView>
    <Authorized>
        <Text Margin="Margin.Is3.FromBottom">
            <Button Color="Color.Primary" @onclick="_ => Create()">Start a new game</Button>
        </Text>
        <OwnGameList GameEngineId="@GameEngine.Id" GameStage="GameStage.New"></OwnGameList>
        <OwnGameList GameEngineId="@GameEngine.Id" GameStage="GameStage.Playing"></OwnGameList>
    </Authorized>
    <NotAuthorized>
        <Text Margin="Margin.Is3.FromBottom">
            <SignInDropdown Why="to start or join the game"/>
        </Text>
    </NotAuthorized>
</AuthorizeView>

<GameList GameEngineId="@GameEngine.Id" GameStage="GameStage.New"/>

@code {
    [Parameter]
    public string GameEngineId { get; set; } = "";
    private IGameEngine GameEngine => GameEngines[GameEngineId.ToLower()];

    private async Task Create()
    {
        var result = await UICommander.Run(new Game_Create(Session, GameEngine.Id));
        if (result.Result.ValueOrDefault is { } game)
            Nav.NavigateTo(LinkBuilder.Game(GameEngineId, game.Id));
    }
}
